@charset "UTF-8";
#head_apply_btn {
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 5px 0 10px;
  display: none;
}
#head_apply_btn .BTN {
  max-width: 500px;
}
#head_apply_btn .BTN .btn {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3vw;
}

@media screen and (max-width: 480px) {
  #head_apply_btn {
    bottom: 0;
  }

  .BTN .btn {
    font-size: 1.6rem;
    line-height: 1.8vw;
    margin: 0 40px;
  }
  .BTN .btn div {
    margin-right: 10px;
  }
}
/*--- clp/endweek 週末限定CP tv派生LP
.endweek-header{
	background: #bf0000;
	text-align: center;
	img{
		width: 100%;
		max-width: 1000px;
	}
	padding: 10px;
}
.endweek_info{
	> .InfoTit{
		background: #bf0000;
	}
	> .InfoCont{
		border: 1px solid #bf0000;
		> .InfoTxt:not(:last-child){
			border-bottom: 1px solid #bf0000;
		}
	}
} ---*/
/*--- tv/kirishima 霧島CP告知拡大 2/15〜2/28
.kirishima{
	.uk-list{
		line-height: 1.4;
		li{
			padding-left: 20px;
		}
		li::before{
			left: -20px;
			width: 20px;
		}
		@media screen and (min-width: 650px){
			li::before{
				left: -20px;
				width: 27px;
			}
		}
	}
	.kirishima_info{
		> .InfoTit{
			background: #000000;
		}
		> .InfoCont{
			border: 1px solid #000000;
			> .InfoTxt:not(:last-child){
				border-bottom: 1px solid #000000;
			}
		}
	}
} ---*/